body{
			
			font-size: 30px;
			
			text-align: center;
			margin-top: 5%;

		}
		h1 {
			margin-top: 10%;		
		}
		p{
			font-family: 'Kalam', cursive;
		}
		li{
			display: inline-block;

			margin: 20px;
		}
		a{
			text-decoration:none;
		}
