*, ::after, ::before {
    box-sizing: border-box;
}
body{
    width: 80%;
    margin-left: 10%;
    background-color:white;
}
/*H1 classes too*/
h1{
    text-align: center;
    
    
    padding: 5px;
}
.top1{
    border-top: 5px solid black;
}
.be{
    border-top: 5px solid black;
    margin-bottom: 50px;
    clear: both;
    
}
.no{
    
}
#cointainer{
    margin-top: 10%;
    
}
/*Navbar*/
nav{
    
    

}
/*@media screen and (max-width: 900px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  
}
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  
  }

/*video*/

iframe{
    width: 100%;
   
}

/*Footer*/

footer{
    text-align: center;
    position:inherit;
    background-color: transparent;
    height: 150%;
    width: 100%;
    clear: both;
}
.top{
     border-top: 5px solid black;
    margin-top: 650px;
}
.top2{
    border-top: 5px solid black;
    margin-top: 650px;
}
.met{
    clear: both;
}
/*Images*/
.background{
    color:aliceblue;
    padding: 50px;
    background-image:url("images/edm3.jpg");
   
}
.edm{
    width:100%;
    
}
img{
    width: 100%;
    
}

.left{
    width: 49%;
    float: left;
    
}
.right{
    width: 49%;
    float: right;
}
.lsmall{
    width: 20%;
    float: left;
    
}
.rsmall2{
    width: 20%;
    float:left; 
}
/*Grid-tickets*/

.the-grid{
    display: grid;
     grid-gap: 50px 100px;
	grid-template-columns: 2fr 1fr 1fr 1fr ;
	grid-auto-rows: 1fr 3fr 2fr 20px 10%;



}

.ticket2{
	grid-row-start: 1;
	grid-row-end: 5;
}

/*******************/
.gallery1{
   
}



.move{
    float: right
}
/*Social Media*/
.multi{
    float: right;
}
.met{
    float:left;
}
/*W3Schools*/

.bu,  select, textarea{
    width: 100%;
    margin-top: 50px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
    resize: vertical;
}
/*Tickets
div.gallery {
    margin-top: 50px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
*/